@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
svg {
  width: 46px;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: black;
  }
  body {
    color: black;
    background: white;
  }
  .icon{
    fill: black;
  }

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: White;
  }
  body {
    color: white;
    background: black;
  }
  .icon{
    fill: white;
  }

}
